/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* HEADER */
.header-conteiner{
    width: 100%;
    background-color: #edf2f7;
    text-align: center;
    
}
/* MAIN */
.main-conteiner{
    width: 700px;
    height: 800px;
    background-color: #edf2f7;
    margin: auto;
   margin-top: 50px;
   border-radius: 10px;
        
}